<!--
title: Choosing the right mirror for Chaotic-AUR
description: Find out how to increase downlad speeds of Chaotic-AUR
published: true
date: 2021-12-19T10:30:53.274Z
tags: how-to, chaotic-aur, download
editor: ckeditor
dateCreated: 2021-01-11T07:00:08.342Z
-->

<p style="text-align:justify;">Historically the download speeds of <a href="https://aur.chaotic.cx"><strong>Chaotic-AUR</strong></a> (our repository) were pretty bad for a lot of people. This had a simple cause: Many people won't ever change the default order of Chaotic's mirrorlist since it is unaffected by Reflector (the Arch mirrorlist GUI), which resulted in everyone downloading from the same server. The updated mirrorlist includes the automatic <strong>geo-mirror</strong> as well as a CDN one, which both help distributing the load. If you are still experiencing speed problems or want to make sure you are downloading from the closest mirror manually selecting it is still a good idea. So lets find out how to get better speeds by using another mirror! 😊</p>
<ul>
  <li style="text-align:justify;">We are going to open the mirrorlist using <strong>micro</strong> (our default text editor) - superuser needed:</li>
</ul>
<p style="text-align:justify;"><code>sudo micro /etc/pacman.d/chaotic-mirrorlist</code></p>
<figure class="image"><img src="/screenshots/chaotic-aur-mirrorlist.png"></figure>
<ul>
  <li style="text-align:justify;">Then <strong>comment out all mirrors</strong> in front of the one you want to use - your best bet is to take one geographically closest to you. Then finish by refreshing the database using the new mirror &amp; updating afterwards.</li>
</ul>
<p style="text-align:justify;"><code>sudo pacman -Syu</code></p>
<ul>
  <li style="text-align:justify;">There is also an <a href="https://asciinema.org/a/383812">Asciicast</a> which shows the process.</li>
</ul>
