<!--
title: Installing Garuda Linux
description: How do I install it?
published: true
date: 2021-04-12T19:10:09.109Z
tags: installation
editor: ckeditor
dateCreated: 2021-04-12T14:58:22.055Z
-->

<p>Here are pages containing installation-specific information:</p>
<ul>
  <li><a href="https://wiki.garudalinux.org/en/installation-instructions">General installation instructions</a></li>
  <li><a href="https://wiki.garudalinux.org/en/MacBookPro-Installation-Instructions">Installation instructions for MacBook Pro</a></li>
  <li><a href="https://wiki.garudalinux.org/en/live-login-details">Live Login details</a></li>
</ul>
