<!--
title: Базовые шаги к конфиденциальности в Garuda Linux
description: Как натроить Linux для защиты персональных данных
published: true
date: 2020-12-11T19:43:50.555Z
tags: безопасность, конфиденциальность, персональные данные
editor: ckeditor
dateCreated: 2020-12-11T19:43:48.482Z
-->

<p>Сегодня есть много вещей, которые нужно рассматривать при беседе о “конфиденциальности”. Покидание Windows ради ОС основанной на Linux это первый шаг!</p>
<p>Если вы совсем не можете покинуть Windows потому что эта система нужна вам для работы, есть несколько вещей которые вы можете сделать. &nbsp;Например установить <a href="https://ameliorated.info/">Windows AME</a> (убирает всю ерунду из Windows чтобы вернуть контроль над системой!), но в этой статье мы сфокусируемся на специфике Garuda Linux, конечно же. Если хотите прочесть более глубокие статьи на различные темы, здесь будут прикреплены соответствующие страницы Arch вики. Даже больше контента можно найти на <a href="https://privacytools.io/">privacytools.io</a> :)</p>
<p>&nbsp;</p>
<ul>
  <li>Установка и включение брандмауэра (фаервола)</li>
</ul>
<p>Брандамуэр нужен для того чтобы остановить злоупотребление открытыми портами что может привести к полному удаленному доступу к девайсу. В Garuda Linux <a href="https://wiki.archlinux.org/index.php/Firewalld">firewalld</a> предустановлен в большинстве изданий. Его можно включить используя systemd:</p>
<p><code>sudo systemctl enable --now firewalld</code></p>
<p>Важный аспект: сервисам вроде KDE Connect или Syncthing необходимы настройки брандмауэра для того чтобы работать правильно, так как их входящий траффик также будет заблокирован брандауэром. Чтобы добиться этого откройте приложение “Настройка межсетевого экрана” из стартового меню.</p>
<p>Ещё одно простое, но при этом эффективное приложение для этой цели - UFW, и его фронтед GUFW.&nbsp;</p>
<p>Им можно управлять с помощью его пользовательского интерфейса или простыми командами терминала:</p>
<p><code>sudo ufw enable</code></p>
<p><code>sudo ufw allow ssh</code></p>
<p>Больше на эту тему можно найти &nbsp;<a href="https://wiki.archlinux.org/index.php/Uncomplicated_Firewall">здесь</a>.</p>
<figure class="image"><img src="/gufw-ru.png"></figure>
<ul>
  <li>Использование альтернативных DNS серверов для блокирования рекламы и/или аналитики.</li>
</ul>
<p>Использование DNS серверов - это очень простой способ блокировать рекламу. Есть полезные DNS провайдеры такие как AdGuard которые могут быть включены в приложении Garuda Приветствие. Узнайте что это такое <a href="https://adguard.com/ru/adguard-dns/overview.html">здесь.</a></p>
<p>Как альтернатива может быть использован hblock. Он блокирует рекламу и домены с вредоносным ПО используя файл /etc/hosts который блокирует домены локально вместо того чтобы делать это на самом DNS сервере. ArcoLinux предлагает <a href="https://arcolinux.com/use-hblock-to-improve-your-security-and-privacy-by-blocking-ads-tracking-and-malware-domains/">больше информации</a> &nbsp;по этой теме.&nbsp;</p>
<p>&nbsp;</p>
<ul>
  <li>Использование правильного браузера.</li>
</ul>
<p>Браузер это своебразный посредник между вами и интернетом - при этом имея возможность регистрировать каждое ваше действие. Вот почему вам стоит выбирать его аккуратно. &nbsp;Есть много доступных <a href="https://wiki.archlinux.org/index.php/List_of_applications/Internet#Web_browsers">веб</a> <a href="https://wiki.archlinux.org/index.php/List_of_applications/Internet#Web_browsers">браузеров</a>, поэтому выбор правильного может быть довольно запутанным делом. В целом, Firefox скорее всего лучший выбор среди браузеров сегодня. Он поддерживается Mozilla Foundation, они имеют неплохую репутацию и функциональность легко расширяется дополнениями. Другой “большой” игрок - Chromium - есть много браузеров, основанных на нем, такие как Google Chrome или Brave browser. Несмотря на то что движок, используемый Chromium кажется более быстрым чем Firefox он связан с Google - компанией известной своими большими <a href="https://en.wikipedia.org/wiki/Privacy_concerns_regarding_Google">проблемами с конфиденциальностью.</a> Проект который пытается отделить Google от Chromium называется <a href="https://github.com/Eloston/ungoogled-chromium">Ungoogled Chromium</a>. Если вы хотите использовать движок Chromium, этот браузер скорее всего будет лучшим выбором. Достойно внимания то что мы поставляем рекомендуемые значения about:config <a href="https://gitlab.com/garuda-linux/themes-and-settings/settings/garuda-browser-settings/-/tree/master/firefox">по умолчанию</a> в Garuda Linux.</p>
<p>&nbsp;</p>
<ul>
  <li>Использование правильных дополнений для браузера</li>
</ul>
<p>Дополнения для браузера важны и нужны для приятного опыта в навигации по интернету.</p>
<ol>
  <li><a href="https://addons.mozilla.org/ru/firefox/addon/ublock-origin/">uBlock Origin</a>. Этот просто необходим чтобы блокировать рекламу и подозрительные домены. Если вы задаетесь вопросом зачем нам это нужно если NextDNS делает то же самое - uBlock способен заблокировать рекламу на уровне сайта, поэтому вы не увидите пустых белых пространств - как будто рекламы и не существовало. Не используйте другие “блокировщики рекламы”. uBlock Origin можно доверять потому что он <a href="https://github.com/gorhill/uBlock">с открытым исходным кодом</a>.</li>
  <li><a href="https://www.eff.org/https-everywhere">HTTPS everywhere</a>. Это дополнение гарантирует что вы всегда используете HTTPS соединения когда вы серфите в &nbsp;интернете. Это значит что весь траффик будет зашифрован, иначе люди смогут прочитать все что вы получаете и отдаете сети. В Firefox 83+ эта функция была нативно внедрена.</li>
  <li><a href="https://www.localcdn.org/">LocalCDN</a>. LocalCDN это расширение которое эмулирует Сети Поставки Контента (Content Delivery Networks) чтобы улучшить вашу конфиденциальность онлайн. Оно перехватывает траффик, находит поддерживаемые ресурсы локально и вставляет их в онлайн-среду. Оно хорошо работает с uBlock Origin и способно сгенерировать правила для этого дополнения, которые вам стоит использовать. Просто следуйте его <a href="https://codeberg.org/nobody/LocalCDN/wiki#user-content-6-why-do-i-need-this-rule-generator-i-use-an-adblocker-and-want-to-import-these-rules-how-does-it-work">FAQ</a>.</li>
  <li><a href="https://github.com/kkapsner/CanvasBlocker/">CanvasBlocker</a>. Считывание уникальных отпечатков браузера это большая проблема, так как она позволяет компаниям идентифицировать вас даже если используется VPN сервис из-за его уникальных отпечатков. CanvasBlocker использует различные API чтобы защитить ваши данные.</li>
  <li><a href="https://noscript.net/">NoScript</a>. Большинство людей не использует это дополнение потому что оно ломает многие вебсайты из-за своей функции. Оно блокирует использование <a href="https://noscript.net/">JavaScript</a> - на котором строится большая часть современного контента. Но это также означает что технологии трекинга тоже не будут работать. Использование этого дополнения требует ручных настроек для разрешенного/запрещенного контента чтобы по-настоящему использоваться.</li>
</ol>
<p>&nbsp;</p>
<ul>
  <li>Использование безопасных паролей</li>
</ul>
<p>Говорить об этой теме важно - большинство людей используют очень простые пароли для своих аккаунтов которые могут вычислить грубой силой. пароли вроде name1959, password, easy123 и так далее попадают в эту категорию. Вы можете проверить <a href="https://www.security.org/how-secure-is-my-password/">вот здесь</a> является ли используемый пароль безопасным. Избегайте использования одного и того же пароля для нескольких аккаунтов!</p>
<p>Лучший способ генерации и сохранения паролей - это использования менеджера паролей вроде Bitwarden. Bitwarden с открытым исходным кодом, поэтому ему можно доверять. Вы можете даже <a href="https://bitwarden.garudalinux.org/">сами захостить</a> свою&nbsp;<a href="https://bitwarden.garudalinux.org/"> сессию</a> которую можно использовать вместе с дополнением для Firefox. Просто измените сервер используемый bitwarden.garudalinux.org и создайте аккаунт. Также есть и мобильный клиент который очень прост в использовании! Использование 3+ и 14+ символов обычно достаточно безопасно.</p>
<figure class="image image-style-align-left"><img src="https://wiki.garudalinux.org/bitwarden-generate.png"></figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<ul>
  <li>Использование правильных поисковых систем</li>
</ul>
<p>Поисковые системы нужно выбирать осторожно. Google, Bing или Yahoo стоит избегать в наше время. Рекомендуемые альтернативы - это например DuckDuckGo, Startpage.com или Searx. Мы хостим варианты <a href="https://searx.garudalinux.org/">Searx</a> и <a href="https://search.garudalinux.org/">Whoogle</a> (мета поиск использующий результаты поиска Google <a href="https://github.com/benbusby/whoogle-search">без слежки</a> за пользователем) для вашего пользования.&nbsp;</p>
<p>Один из них стоит поставить как поисковую систему по умолчанию в вашем любимом браузере. Это можно сделать через настройки браузера.</p>
